.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_wrapper {
    width: 30%;
    min-height: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(221, 221, 221,0.4);
    padding: 75px 45px 55px 45px;
    position: relative;
    overflow: hidden;
}
.contact_wrap {
    margin-top: 45px;
}
.contact {
    width: 550px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    display: flex
}
.contact:hover {
    background-color: rgb(243, 243, 243);
}


.contact_inputwrapper {
    padding: 20px 45px;
    background-color: rgb(0, 204, 194);
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact_input {
    width: 50%;
    outline: none;
    font-size: 16px;
    padding: 8px;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
}

.contact_name {
    display: inline-block;
    width: 200px;
}
.contact_lastname {
    font-size: 18px;
    font-weight: bold;
}
.contact_firstname {
    font-size: 18px;
}
.contact_phone {
    margin: 0 25px;
    font-size: 22px;
}
.gender_icon {
    margin-left: auto;
    height: 22px;
}
