.gallery_wrap {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery_img {
    height: 250px;
    width: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
    margin: 35px 35px;
    box-shadow: 20px 21px 0px 0px rgb(0, 204, 194);

}